<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/page_initial.css">
    <title>Pagina inicial</title>
</head>
<body>
    <h1>Ir para:</h1>

    <a href="/chat">Chat</a>
</body>
<script src="../public/JS/JQuery.js"></script>
<script src="../public/JS/page_initial.js"></script>
</html>